:root {
    --vl-theme-color: #0D43FE;
    --vl-theme-color-2: #9EDD05;
    --vl-theme-bg-2: #083C2F;
    --vl-theme-color-3:#2334DE;
    --vl-theme-color-4:#5038C9;
    --vl-theme-color-5:#5040E0;
    --vl-text-1:#5F6168;
    --vl-text-2:#111112;
    --vl-text-3:#1C1C25;
    --vl-text-4:#525057;
    --vl-text-5:#5A5A5F;
    
    --vl-gradient-1:linear-gradient(85deg, #0D43FE -50.83%, #BB29F2 90.34%);
    --vl-gradient-2: linear-gradient(90deg, #2E0797 0%, #726EFC 100%);
    --vl-black: #050C36;
    --vl-black-text-4: #14212B;
    --vl-cmn-black: #111840;
    --vl-cmn-black-2: #1D244A;
    --vl-black-theme-2: #1C1C25;
    --vl-white: white;
    --vl-white-3:rgba(255, 255, 255, 0.3);
    --vl-white-5:rgba(255, 255, 255, 0.05);
    --vl-white-8: rgba(255, 255, 255, 0.80);
    --vl-grey-color: #F6F8F9;
    --vl-grey-color-2: #F7F8FA;
    --vl-grey-color-3: #f6f6f6;
    --vl-grey-color-4: #F4F5F8;
}


